@use "variable" as v;
@use "common" as c;
/*************************************************
component
*************************************************/
//トップ_セクション見出し
.ttl-wrap {
  .sub-ttl {
    display: inline-block;
    @include c.p-font(v.pxtovw(16));
    font-weight: 600;
    background: v.$gradient01;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @include c.mq() {
      @include c.p-font(v.pxtovw_sp(25));
    }
  }
  h2 {
    font-family: "Zen Old Mincho", serif;
    font-size: v.pxtovw(40);
    font-weight: 500;
    @include c.mq() {
      font-size: v.pxtovw_sp(54);
    }
  }
}

.ttl-wrap02 {
  .inline-wrap {
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: v.pxtovw(12);
      height: v.pxtovw(12);
      border-radius: 50%;
      background: linear-gradient(
        0deg,
        rgba(29, 88, 142, 1) 0%,
        rgba(27, 183, 235, 1) 100%
      );
      padding: v.pxtovw(2);
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: v.pxtovw(2);
      width: v.pxtovw(8);
      height: v.pxtovw(8);
      border-radius: 50%;
      background-color: #fff;
    }
    h2 {
      position: relative;
      display: inline-block;
      font-family: "Zen Old Mincho", serif;
      font-size: v.pxtovw(30);
      font-weight: 500;
      letter-spacing: 0.06em;
      line-height: 2;
      padding-left: v.pxtovw(21);
      &::before {
        content: "";
        width: 200rem;
        height: 1px;
        position: absolute;
        top: 50%;
        transform: traslateY(-50%);
        left: calc(100% + v.pxtovw(24));
        background-color: #cecece;
      }
    }
  }
}
.ttl-wrap03 {
  > h2,
  h3 {
    font-family: "Zen Old Mincho", serif;
    font-size: v.pxtovw(28);
    font-weight: 500;
    padding: v.pxtovw(13) 0 v.pxtovw(14);
    text-align: center;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
  }
}

//ボタン
.btn01 {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: v.pxtovw(14);
  font-weight: 600;
  color: v.$sub-color01;
  border-radius: 100vmax;
  width: auto;
  aspect-ratio: 1/0.26;
  padding: 0 v.pxtovw(36) 0 v.pxtovw(64);
  box-shadow: inset 0 0 v.pxtovw(15) rgba(62, 176, 249, 0.5);
  transition: all 0.3s;
  @include c.mq() {
    font-size: v.pxtovw_sp(28);
    aspect-ratio: 1/0.27;
    padding: 0 v.pxtovw_sp(83) 0 v.pxtovw_sp(134);
    box-shadow: inset 0 0 v.pxtovw_sp(15) rgba(62, 176, 249, 0.5);
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: v.pxtovw(24);
    width: v.pxtovw(8);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: v.$sub-color01;
    transition: all 0.3s;
    @include c.mq() {
      left: v.pxtovw_sp(50);
      width: v.pxtovw_sp(16);
      box-shadow: inset 0 0 v.pxtovw_sp(15) rgba(62, 176, 249, 0.5);
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    right: v.pxtovw(25);
    width: v.pxtovw(20);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: url(../images/common/icon_arrow-nakamado.svg) no-repeat
      center/contain;
    transition: all 0.3s;
  }
  &:hover {
    color: #fff;
    padding: 0 v.pxtovw(60) 0 v.pxtovw(40);
    box-shadow: none;
    background: linear-gradient(
      270deg,
      rgba(27, 183, 235, 1) 0%,
      rgba(29, 88, 142, 1) 100%
    );
    &::before {
      transform: translateY(-50%) scale(0);
    }
    &::after {
      transform: translateY(-50%) scale(1);
    }
  }
}

.header-btn {
  position: relative;
  @include c.flex(center, center);
  width: v.pxtovw(148);
  aspect-ratio: 1/0.3;
  @include c.p-font(v.pxtovw(12));
  font-weight: 700;
  color: #fff;
  border-radius: 100vmax;
  padding-left: v.pxtovw(15);
  transition: all 0.3s;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: v.pxtovw(18);
    width: v.pxtovw(7);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    right: v.pxtovw(18);
    width: v.pxtovw(15);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: url(../images/common/icon_arrow-nakamado.svg) no-repeat
      center/contain;
    transition: all 0.3s;
  }
  &:hover {
    padding-left: v.pxtovw(0);
    padding-right: v.pxtovw(10);
    &::before {
      transform: translateY(-50%) scale(0);
    }
    &::after {
      transform: translateY(-50%) scale(1);
    }
  }
  &.orange {
    background: linear-gradient(
      270deg,
      rgba(240, 194, 0, 1) 0%,
      rgba(230, 133, 0, 1) 100%
    );
  }
  &.blue {
    background: linear-gradient(
      270deg,
      rgba(27, 183, 235, 1) 0%,
      rgba(29, 88, 142, 1) 100%
    );
  }
}

//スライドテキスト
.slider-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  .slider-track {
    display: flex;
    animation: slide 20s linear infinite;
    p {
      flex-shrink: 0;
      margin-right: v.pxtovw(20);
    }
  }
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

//パンくず
.breadcrumbs {
  padding-top: v.pxtovw(30);
  @include c.mq() {
    padding-top: v.pxtovw_sp(30);
  }
  .inner {
    max-width: v.pxtovw(1286);
  }
  ul {
    @include c.flex(end, center);
    gap: v.pxtovw(32);
    @include c.mq() {
      gap: v.pxtovw_sp(40);
    }
    li,
    a {
      @include c.p-font(v.pxtovw(14));
      font-weight: 500;
      @include c.mq() {
        font-size: v.pxtovw_sp(16);
      }
    }
    li {
      &:has(> a) {
        position: relative;
        &::after {
          content: "";
          width: v.pxtovw(5);
          aspect-ratio: 1/2;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: v.pxtovw(-20);
          background: url(../images/common/icon-arrow01.svg) no-repeat
            center/contain;
          @include c.mq() {
            width: v.pxtovw_sp(5);
            right: v.pxtovw_sp(-24);
          }
        }
      }
      &:last-of-type {
        color: v.$sub-color01;
      }
    }
  }
}

//aboutスライダーページネーション
.about-swiper_pagenation {
  .swiper-button-prev,
  .swiper-button-next {
    flex-direction: column;
    gap: v.pxtovw(6);
    width: clamp(4rem, v.pxtovw(60), 8rem);
    height: clamp(4rem, v.pxtovw(60), 8rem);
    border-radius: v.pxtovw(7);
    background-color: #fff;
    border: 1px solid v.$sub-color01;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    @include c.p-font(v.pxtovw(12));
    color: v.$sub-color01;
    @include c.mq() {
      gap: v.pxtovw_sp(8);
      font-size: v.pxtovw_sp(20);
      width: v.pxtovw_sp(102);
      height: v.pxtovw_sp(102);
      border-radius: v.pxtovw_sp(10);
      top: 17%;
    }
    &::after {
      display: none;
    }
    svg {
      @include c.mq() {
        width: v.pxtovw_sp(20);
        height: v.pxtovw_sp(20);
      }
    }
  }
  .swiper-button-prev {
    @include c.mq() {
      left: v.pxtovw_sp(-15);
    }
    svg {
      rotate: 180deg;
    }
  }
  .swiper-button-next {
    @include c.mq() {
      right: v.pxtovw_sp(-15);
    }
  }
}

//共通カード
.item {
  .ttl {
    line-height: 1.5;
    text-align: center;
    color: #fff;
    padding: v.pxtovw(10) 0;
    border-bottom-left-radius: v.pxtovw(10);
    border-bottom-right-radius: v.pxtovw(10);
  }
}
.item02 {
  border: 1px solid v.$sub-color01;
  border-radius: v.pxtovw(10);
  overflow: hidden;
  .ttl {
    text-align: center;
    color: #fff;
    padding: v.pxtovw(10) 0;
    // border-top-left-radius: v.pxtovw(10);
    // border-top-right-radius: v.pxtovw(10);
    background-color: v.$sub-color01;
  }
}

.block_image-txt {
  @include c.flex(center, center);
  .left {
    width: v.pxtovw(500);
    flex-shrink: 0;
    .ttl {
      .en {
        display: inline-block;
        @include c.p-font(v.pxtovw(16));
        font-weight: 600;
        background: v.$gradient01;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: v.pxtovw(9);
      }
      h3 {
        font-family: "Zen Old Mincho", serif;
        font-size: v.pxtovw(26);
        padding-bottom: v.pxtovw(10);
        border-bottom: 1px solid #cecece;
      }
    }
    .txt {
      line-height: 2.25;
    }
  }
  .right {
    flex-grow: 1;
    .img-box {
      border-radius: v.pxtovw(14);
      overflow: hidden;
    }
  }
  &.reverse {
    flex-direction: row-reverse;
  }
}
