@use "variable" as v;
@use "common" as c;
/*************************************************
header
*************************************************/
header {
  padding: 0 v.pxtovw(49);
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  z-index: 999;
  transform: translateY(0);
  transition: transform 0.4s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
  &.is-animating {
    transition: none;
  }
  &.fixed {
    position: fixed;
    background-color: #fff;
    // box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
    transform: translateY(-100%);
  }
  &.fixed.fixed-enter {
    transform: translateY(0);
  }
  .header-inner {
    @include c.flex(between, center);
    .logo {
      width: v.pxtovw(250);
    }
    .navigation {
      @include c.flex(center, center);
      gap: v.pxtovw(42);
    }
    nav {
      @include c.mq(md-s) {
        display: none;
      }
      > ul {
        @include c.flex(center, center);
        gap: v.pxtovw(25);
        > li {
          position: relative;
          align-self: stretch;
          @include c.flex(center, center);
          padding: v.pxtovw(37) 0 v.pxtovw(35);
          &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 1px;
            background-color: #3eb1f9;
            transition: width 0.3s ease;
          }
          &:hover {
            &::after {
              width: 100%;
            }
            .plus {
              display: inline-block;
              width: v.pxtovw(10);
              aspect-ratio: 1/1;
              position: relative;
              margin-top: v.pxtovw(4);
              margin-left: v.pxtovw(10);
              &::after {
                transform: translateX(-50%) scaleY(0);
              }
            }
          }
          .plus {
            display: inline-block;
            width: v.pxtovw(10);
            aspect-ratio: 1/1;
            position: relative;
            margin-top: v.pxtovw(4);
            margin-left: v.pxtovw(10);
            &::before {
              content: "";
              width: 100%;
              height: 1px;
              background-color: #000;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
            &::after {
              content: "";
              width: 1px;
              height: 100%;
              background-color: #000;
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%) scaleY(1);
              transform-origin: 50% 50%;
              transition: transform 0.25s ease; // ← transform をアニメ
            }
          }
          > a {
            font-weight: 500;
          }
          &.parent {
            position: relative;
            &:hover {
              .mega-menu {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
    }
    .btn-area {
      display: flex;
      gap: v.pxtovw(10);
      @include c.mq(md-s) {
        display: none;
      }
    }
  }
  .mega-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% - 1px);
    left: 50%;
    transform: translateX(-50%);
    width: v.pxtovw(560);
    transition: all 0.3s;
    z-index: 1;
    ul {
      display: flex;
      gap: 1px;
      flex-wrap: wrap;
      background-color: #e5e5e5;
      border-bottom-left-radius: v.pxtovw(14);
      border-bottom-right-radius: v.pxtovw(14);
      overflow: hidden;
      li {
        width: calc(100% / 3 - (2px / 3));
        height: v.pxtovw(50);
        background-color: #fff;
        a {
          @include c.flex(start, center);
          gap: v.pxtovw(11);
          width: 100%;
          height: 100%;
          &:hover {
            p {
              color: v.$sub-color01;
            }
          }
          .img-box {
            width: v.pxtovw(65);
          }
          p {
            @include c.p-font(v.pxtovw(14));
            font-weight: 500;
            transition: all 0.3s;
          }
        }
      }
    }
  }
}

.drawer-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding-top: v.pxtovw_sp(120);
  transform: translateX(100%);
  background-color: v.$sub-color01;
  backdrop-filter: blur(12px);
  overflow: scroll;
  z-index: 998;
  transition: all 0.3s;
  @include c.mq() {
    padding-top: v.pxtovw_sp(194);
  }
  &.is-drawermenu-open {
    transform: translateX(0);
  }
  .drawer-menu_inner {
    position: relative;
    max-width: v.pxtovw_sp(450);
    height: calc(100vh - v.pxtovw_sp(194));
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox 用 */
    -ms-overflow-style: none; /* IE, Edge レガシー 用 */
    margin: 0 auto;
    z-index: 999;
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera 用 */
    }
  }
  .nav-wrap {
    margin-bottom: v.pxtovw_sp(50);
  }
}
